.contacts{
    background-image:url('../../assets/images/contact/contact_banner.avif');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
}
.channels{
    background-color: var(--primary-color);
}
.channel{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5em;
   
    padding:0.5em;
    box-shadow: 0 1px 3px 3px #939292;
   
}
.channel__type{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25em;
    
}
.channel__timing{
    text-align: center;
}
.timing__p{
    font-size: 1rem;
}
.channel__timing span{
    display:inline-block;
    font-weight: 500;
  margin-block: 0.25em;
}
.channel__timing div{
  font-weight: 500;
  margin-block: 0.25em;
}
.social__type{
    display: flex;
    justify-content: center;
    gap:0.5em;
}
.channel i{
    color: var(--accent-color);
    font-size: 1.4rem;
}

/* form */
.form__img{
    width:150px;
    margin: 0 auto;
}
.my__form{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
input,label,textarea,button{
    display: block;
    width:100%;
}
input,textarea{
    padding:0.5em;
    border:1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 1rem;
    
}
label{
    font-weight: 500;
}

address{
    font-style: normal;
}

.map{
    background-color: var(--primary-color);
}
.our__map{
    position:relative;
    width:100%;
    height:400px;
    
}
.our__map iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  
}

@media screen and (min-width:300px){
    .form__img{
        width:250px;
    }
}
@media screen and (min-width:640px){
    .channels__container{
        grid-template-columns: repeat(3,1fr);
    }
    .channel{
        padding:1em 0.5em;
    }
    .our__address{
        max-width: 60%;
        margin: 0 auto;
    }
    .form__container,.map__container{
        grid-template-columns: repeat(2,1fr);
    }
    .form__img{
        width: 100%;
        
    }
    .form__img img{
        width:100%;
        height: 100%;
    }
}