/* Testimonials */
.testimonial{
    background-color: var(--secondary-color);
    padding-block: 2em;
  }
  .testimonial__container{
    position: relative;
  }
  .slides{
    width:100%;
    height:400px;
    position: relative;
    overflow: hidden;
  }
  
  .slide{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap:1em;
   transition: all 1s;
  }
  
  .slide img{
    width: 80px;
    height: 80px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
  }
  
  .slide p{
    width:90%;
    max-width: 600px;
    margin-inline:  auto;
  }
  .buttons{
    display: flex;
    width: 100%;
    position: absolute;
    top:50%;
    gap:16px;
    justify-content: space-between;
    background-color:transparent;
    padding:8px;
  }
  .buttons button{
    background-color: transparent;
    outline: none;
    border:none;
  }
  .buttons i{
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  